/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.white-square {
  float:left;
  background-color: #eeddbb;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 42px;
}
.black-square {
  float:left;
  border: 1px solid black;
  background-color: #cc8844;
  width: 50px;
  height: 50px;
  font-size: 42px;
}
.selected-square {
  border: 1px solid yellow;
  background-color: yellow;
}
.board-row{
  display:inline;
}
.board-row::after{
  content:"";
  clear:both;
  display:block;
}
